
<ul class="books">
    {% for book in books %}
    <li class="book">
        <div class="book-thumbnail">
            <a href="">
                <img class="img-rounded profile-thumbnail" src="{{ book.picture }}" height="70" width="40">
            </a>
        </div>
        <div class="book-content">
            <strong>{{ book.name }}</strong>
            <div class="book-date">
                {% if not book.is_already_issued() %}
                <a href="{{ url_for('ui-products.rent', id=book.id) }}" class="btn btn-info">Rent</a>
                <a class="btn btn-success">Buy</a>
                {% else %}
                <a href="{{ url_for('ui-products.return_book', id=book.id) }}" class="btn btn-danger">Return</a>
                {% endif %}
            </div>
            <p>Published year: <i>{{ book.published_year }}</i></p>

            <div class="book-body">
                <i>
                    {% if book.description %}
                        {{ book.description | safe }}
                    {% else %}
                        {{ book.description }}
                    {% endif %}
                </i>
            </div>

            Authors -
                {% for author in book.authors %}
                    <a href="{{ url_for('ui-products.author', id=author.id) }}">{{ author.name }}</a>
                {% endfor %}

        </div>
    </li>
    {% endfor %}
</ul>
